<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".Start_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Login.User_Login"/>
        <activity android:name=".Login.User_Register"/>
        <activity android:name=".Login.User_IdFind"/>
        <activity android:name=".Main_Frame"/>
        <activity android:name=".Main_Screen.Restourant_Keyword"/>
        <activity android:name=".Main_Screen.Today_Restourant"/>
        <activity android:name=".Main_Screen.Search_List"/>
        //버튼 누르면 화면전환 (민우)
        <activity android:name=".User_Myfavorite_Page2"/>
    </application>

</manifest>